<!DOCTYPE html>
<html>
<title>EWS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link href="stylesheets/paging.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/jquery.table.hpaging.min.js"></script>
<script>
    $(document).ready(function() { 
		   $("table").hpaging({ 
			"limit": 10 
		  });
	});

	$("table").hpaging({ 
		activePage: 1,
		parentID: '',
		navBar: null,
		totalPages: ''
	});
</script>
<body>
	<div class="w3-container" style="background-color: #3993c0;">
		<p class="w3-xlarge ">
				News Analytics for Counterpartry Credit Risk
		</p>
		<img alt="TCS Logo" src="images/tcs-logo.png" style="position: absolute;top: 0;right: 0;height: 84px;">
	</div>
    <br>
    <div class="w3-cell-row" style="width:100%">
            <div class="w3-container w3-red w3-cell">
              <p>Hello W3.CSS Layout.</p>
            </div>
            <div class="w3-container w3-green w3-cell">
                    <div class="w3-container w3-red">
                            <p>Hello W3.CSS Layout.</p>
                          </div>
                          
                          <div class="w3-container w3-green">
                            <p>Hello W3.CSS Layout.</p>
                          </div>
            </div>
    </div>
</body>
</html>