<!DOCTYPE html>
<html>
<title>EWS</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style_sort.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/tablesorter/jquery-latest.js"></script> 
<script type="text/javascript" src="js/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="js/jquery.tablesorter.pager.js"></script>
<script> 
    $(document).ready(function() { 	  
	{ 
		$("#dashboardTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']})
			.tablesorterPager({container: $("#pager")}); 
		}

		$('#homeMenu').click(function(e){
			e.preventDefault();
			var form = $('<form method="POST" action="/auth"><input type="hidden" id="username" name="username" value="client1"/></form>');
			$(document.body).append(form);
			form.append('<input type="hidden" name="id" value="4"/>');
			form.submit();
		});
	});
</script>
</head>
<body>
	<div id="container" class="width">
		<header> 
			<div class="width">
				<h1><a href="/">Early Warning System <strong> by TCS</strong></a></h1>
				<nav>
					<ul class="sf-menu dropdown">
						<li class="selected"><a href="#" id="homeMenu"><i class="fa fa-home"></i> Home</a></li>
						<li><a href="#"><i class="fa fa-briefcase"></i> Services</a></li>
						<li><a href="#"><i class="fa fa-database"></i> Products</a></li>
						<li><a href="/"><i class="fa fa-sign-out"></i> Logout</a></li>
					</ul>
					<div class="clear"></div>
				</nav>
			</div>
			<div class="clear"></div>
		</header>
		<div id="intro">
			<div class="width">
				<div class="intro-content">
					<h2>News Analytics for Counterparty Credit Risk </h2>
					<p>Predicting risk scored since 2017</p>
				</div>
			</div>    
		</div>
		<div id="body" class="width">
			<section id="content" class="single-column">
				<table id="dashboardTable" class="tablesorter" >
					<thead>
						<tr>
							<th>Counterparty</th>
							<th>Ultimate Parent Counter Party</th>
							<th>Bank Legal Entity</th>
							<th>MTM Net  (Mn $)</th>
							<th>CVA</th>
							<th>News Analytics Score</th>
							<th>Last Refresh Time</th>
							<th>Credit Rating</th>
						</tr>
					</thead>
					<tbody>
						<% if(data.length){ 
						for(var i = 0;i < data.length;i++) { %>
						<tr>
							<td><a href="connectedcounterparty?cp_name=<%=data[i].CM_CP_NAME%>&cnctd_cp_id=<%=data[i].CM_CNCTD_CP_ID%>&ult_parnt_name=<%=data[i].CM_ULT_PARNT_NAME%>&ad_score=<%=data[i].AD_SCORE%>&cdc_cntry_risk=<%=data[i].CDC_CNTRY_RISK%>"><%=data[i].CM_CP_NAME%></a></td>
							<td><%=data[i].CM_ULT_PARNT_NAME%></td>
							<td><%=data[i].CDC_LEGAL_ENTITYTYPE%></td>
							<td><%=data[i].CDC_MTM_NET%></td>
							<td><%=data[i].CDC_CVA%></td>
							<td><%=data[i].AD_SCORE%></td>
							<td><%=data[i].AD_SCORE_UPDTIME%></td>
							<td><%=data[i].CM_CURRENT_RATING%></td>
						</tr>
						<% }
							}else{ %>
						<tr>
							<td colspan="8">No Data</td>
						</tr>
						<% } %>
					</tbody>
				</table>
				<% if(data.length && data.length > 20){ %>
				<div id="pager" class="pager" style="padding-bottom: 20px">
					<form>
						<img src="images/first.png" class="first"/>
						<img src="images/prev.png" class="prev"/>
						<input type="text" value="1/1" class="pagedisplay" disabled="true"/>
						<img src="images/next.png" class="next"/>
						<img src="images/last.png" class="last"/>
						<select class="pagesize">
							<option value="10">10 per page</option>
							<option value="15">15 per page</option>
							<option value="20" selected>20 per page</option>
							<option value="50">50 per page</option>
						</select>
					</form>
				</div>
				<% } %>
			</section>        
			<div class="clear"></div>
		</div>
		<footer class="width">
			<div class="footer-bottom">
				<p>TCS 2017 <a href="http://tcs.com/">Early Warning System</a> by TCS</p>
			</div>
		</footer>
	</div>
</body>
</html>